/* font-family: 'Playfair Display', serif; */
/* font-family: "Open Sans", sans-serif; */
body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
}
/* settings grid */
.grille-accueil {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 70px 500px minmax(300px, 1fr) / 600px 1fr 600px;
}
/* /// settings menu \\\ */
.menu {
    grid-area: 1 / 1 / 2 / -1;
    width: 100%;
    height: 70px;
}
.title-menu {
    font-family: "Playfair Display", serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    height: 70px;
    position: relative;
    z-index: 200;
    border-bottom: 1px solid #000;
}
.menu:hover > .title-menu {
    border-bottom: none;
}
.title-menu::after {
    content: "";
    display: block;
    position: absolute;
    width: 35px;
    height: 1px;
    background-color: #000;
    top: 61px;
}
.list-menu {
    background-color: #fff;
    position: relative;
    z-index: 100;
    top: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    border-bottom: 1px solid #000;
}
.title-menu:hover + .list-menu {
    transition: top 0.3s ease-in-out;
    top: 0;
}
.list-menu:hover {
    top: 0;
}
.list-menu li {
    margin: 10px 0;
}
.list-menu a {
    text-decoration: none;
    font-size: 22px;
    color: #000;
    position: relative;
}
.list-menu a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}
.list-menu a:hover::after {
    transform: scale(1);
}

/* /// settings presentation \\\ */
.presentation {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #6fb4ec;
    padding: 40px;
}
.presentation img {
    width: 80px;
}
.presentation h1 {
    font-size: 80px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
}
.presentation p {
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.3;
}
.presentation a {
    padding: 15px;
    text-decoration: none;
    color: #000;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.1;
    display: block;
    width: 170px;
    cursor: pointer;
    text-align: center;
}

/* /// settings slider \\\ */
.slider {
    grid-area: 2 / 2 / 3 / -1;
    position: relative;
}
.container-slides {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.container-slides img {
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
    transition: opacity 0.6s ease-in-out;
}
img.active {
    opacity: 1;
}
/* setting btn */
.cont-btn {
    position: absolute;
    top: 85%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.btn-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 0 15px;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #333;
    background-color: #f1f1f1;
    border: 1px solid #333;
}
.btn-nav img {
    width: 20px;
    height: 20px;
}

/* /// settings choix \\\ */
.choix {
    grid-area: 3 / 1 / 4 / 3;
    background-color: #222;
    color: #f1f1f1;
    border: 1px solid #000;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.choice-title {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
}
.choix p {
    font-size: 20px;
    line-height: 1.4;
}
.go-galery {
    font-size: 22px;
    display: block;
    margin: 20px auto 0;
    width: 300px;
    padding: 20px;
    text-decoration: none;
    border: 1px solid #f1f1f1;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    color: #f1f1f1;
    transition: all 0.2s ease-in-out;
}
.go-galery:hover {
    transition: all 0.2s ease-in-out;
    background-color: #f1f1f1;
    color: #222;
}
.cont-medias {
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
}
.media {
    margin: 10px 0;
    width: 60px;
    height: 60px;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media img {
    width: 30px;
}
/* /// settings contact \\\ */
.contact {
    grid-area: 3 / 3 / 4 / 4;
    background-color: #f6db51;
    color: #000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact h3 {
    font-family: "Playfair Display", serif;
    font-size: 70px;
    padding-left: 50px;
}
.contact a img {
    width: 50px;
    height: 50px;
}
.go-contact {
    flex-shrink: 0;
    margin-right: 105px;
    width: 90px;
    height: 90px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}
.go-contact:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}
/* /// settings footer \\\ */
footer {
    border-top: 1px dashed #000;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}
/* --------------- */
/* /// responsive \\\ */
@media screen and (max-width: 1350px) {
    .cont-medias {
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .grille-accueil {
        grid-template: 70px 500px minmax(300px, 1fr) / 400px 1fr 400px;
    }
    .contact h3 {
        font-size: 50px;
        padding-left: 50px;
    }
    .go-contact {
        margin-right: 55px;
        width: 70px;
        height: 70px;
    }
    .go-contact img {
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width: 950px) {
    .choice-title {
        font-size: 35px;
        margin-bottom: 15px;
    }
    .go-galery {
        font-size: 18px;
        margin: 20px auto 0;
        width: 250px;
        padding: 15px;
    }
}
@media screen and (max-width: 800px) {
    .presentation {
        padding: 30px;
        border-bottom: 1px solid #000;
    }
    .grille-accueil {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .slider {
        height: 500px;
    }
    .choice-title {
        font-size: 30px;
        margin: 40px 10px 30px;
    }
    .go-galery {
        font-size: 18px;
        margin: 30px auto;
        width: 230px;
        padding: 15px;
    }
    .presentation h1 {
        font-size: 60px;
        font-weight: 600;
        text-align: center;
    }
    .presentation img {
        width: 80px;
        margin: 0 auto 10px;
        display: block;
    }
    .presentation a {
        padding: 15px;
        font-size: 20px;
        /* margin-top: 20px; */
        margin: 20px auto;
    }
}

/*  */
@media screen and (max-width: 550px) {
    .presentation h1 {
        font-size: 500px;
    }
}
